<div class="uk-container">
  <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>

    <div class="uk-navbar-left">
      <a class="uk-navbar-item uk-logo uk-height-small" routerLink="">
        <span id="logo-lab">Lab</span>
        <span id="logo-tracker">Tracker</span>
      </a>
    </div>

    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
        <li routerLinkActive="uk-active" class="uk-button uk-button-text">
          <a routerLink="opdrachten">
            Opdrachten</a>
        </li>
        <li routerLinkActive="uk-active" class="uk-button uk-button-text">
          <a routerLink="studenten" class="uk-button uk-button-text">
            Studenten</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
